@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}
.popup.active .popup-content {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.popup.show {
  display: block;
}
.popup.show .popup-content {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}
.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 30px 10px;
}

.popup-content {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1230px;
  margin: 0px auto;
  background-color: #fff;
}

.popup-close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  background: url("../img/icons/close.png") 0 0 no-repeat;
}

.popup-video .popup-close {
  width: 40px;
  height: 40px;
  background-color: #000;
  top: 0;
  right: 0;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
body {
  color: #000;
  background-color: #FFFEFC;
  font-size: 14px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}
body.lock {
  overflow: hidden;
}

button {
  font-family: "Proxima Nova";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 22px 58px 0 58px;
}
.header__logo {
  width: 204px;
  height: 60px;
  flex-shrink: 0;
}
.header__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
.header__links__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 48px;
}
.header__links__link {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.header__logo img {
  width: 100%;
  height: auto;
  display: block;
}
.header__other {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__other__date {
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
}
.header__other__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 125%;
}
.header__other__icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 10px;
  margin: 0 40px 0 0;
}
.header__other__icons a {
  display: block;
  height: 35px;
  width: 35px;
}
.header__other__icons a img {
  width: 100%;
  height: 100%;
  display: block;
}
.header__other__date {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.invite {
  background-color: #3F00FF;
  border-radius: 40px;
  color: #fff;
  padding: 100px 0px 31px 58px;
  margin-top: 20px;
}
.invite__block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.invite__text {
  flex: 1 1 50%;
  max-width: 600px;
}
.invite__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.invite h1 {
  font-size: 90px;
  font-weight: 900;
  line-height: 110%;
}
.invite__description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.invite__button {
  margin-top: 40px;
  padding: 20px 82px;
  border-radius: 10px;
  background-color: #FFDF00;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: 700;
  font-family: "Proxima Nova", sans-serif;
  color: black;
}
.invite__button:hover {
  background-color: #f0c800;
}
.invite__image-wrapper {
  flex: 1 1 50%;
}
.invite__img {
  max-width: 100%;
  height: auto;
  display: block;
}
.invite__footer {
  margin-top: 100px;
}
.invite__footer__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: 17px;
}
.invite__more {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.invite__more p {
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  margin-bottom: 16px;
}

.test {
  padding: 128px;
}
.test__title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.test__title h2 {
  font-size: 90px;
  font-weight: 900;
  line-height: 110%;
  color: #333333;
}
.test__title p {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #333333;
}
.test__card__text {
  font-size: 24px;
  font-weight: 400;
}
.test__card__text span {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
